@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Poppins&family=Ubuntu&display=swap");

/* Global style
---------------------------------- */

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Navbar
---------------------------------- */

#navbar {
  position: fixed;
  min-width: 350px;
  z-index: 1;
  width: 20%;
  background-color: rgb(240, 236, 35);
  height: 100%;
}

#navbar header {
  padding: 20px;
  font-size: 1.5rem;
  color: #2e2d2d;
}

i {
  margin-right: 5px;
  font-size: 2rem;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#navbar li {
  width: 100%;
  font-size: 1.2rem;
  list-style: none;
}

#navbar a {
  display: flex;
  text-decoration: none;
  padding: 20px 40px;
  cursor: pointer;
  width: 100%;
  color: #2e2d2d;
  transition: all ease 0.3s;
}

#navbar a:hover {
  background-color: #2e2d2d;
  color: #ffe4b5;
}

/* Main Content
---------------------------------- */

#main-doc {
  margin-left: 400px;
}

.main-section {
  padding: 20px 30px 20px 0;
  text-align: justify;
}

.main-section header {
  font-size: 1.2rem;
}

.horizontal-line {
  margin-bottom: 10px;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  line-height: 1.5rem;
  font-size: 1rem;
}

code .indent {
  margin-left: 8px;
}

table {
  margin: 8px 0;
  border-collapse: collapse;
  border: 1px solid #2e2d2d;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  color: #ddd;
  background-color: #2e2d2d;
}

/* Responsive style
---------------------------------- */

@media (max-width: 1020px) {
  #navbar {
    width: 100%;
    height: auto;
    position: relative;
  }

  #navbar header {
    padding: 10px;
    font-size: 1.2rem;
  }

  #navbar a {
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  #main-doc {
    margin-left: 30px;
  }
}
